   <!-- Page Content -->
   <div class="container"> 

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url(images/holidaybanner.png);   background-size: cover;  ">
      
    </header>
    
    <header class="jumbotron my-4" >
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Welcome to the 2018 Inspired by Savannah Gift Guide. This page will become your one stop shopping link for gifts for the whole family, including yourself!  Sit back, grab a hot cup of coffee or cocoa, and get ready to read my personal reviews of the best gift ideas for every member of the family.  You can find the direct links to order each product in my review post, so no more having to search all over the Internet for where to buy the best gifts this holiday season.</p>
      </header>
 

   
    
  </div>