   <!-- Page Content -->
   <div class="container"> 

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-image: url(images/holidaybanner.png);   background-size: cover;  ">
      
    </header>
    
    <header class="jumbotron my-4" >
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">InspiredbySavannah.com  bring you this indispensable guide to the best and last minute gifts of the holiday season. we promise you’ll find something nice. And once your shopping is done, don’t forget to give something for yourself!</p>
      </header>
 

   
    
  </div>